@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

body {
  background: var(--Light-gray);
  font-family: "Outfit", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 16rem;
  background: var(--White);
  text-align: center;
  padding: 0.9rem;
  border-radius: 10px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  font-weight: 800;
  color: var(--Dark-blue);
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

p {
  color: var(--Grayish-blue);
  line-height: 1.3;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}
